@import url('http://fonts.cdnfonts.com/css/pixelsplitter');
:root {
    touch-action: none;
    user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

html {
    background-image: url("source/background.png");
    background-size: cover;
    font-family: 'PixelSplitter', sans-serif;
    color: aliceblue;
    text-align: center;
}

.small-text {
    font-size: 0.8rem;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio]:checked + div {
    outline: 4px solid #0ff;
    color: white;
}

[type=radio]:disabled + div {
    color: gray;
}

#lev-div {
    max-width: 800px;
    margin: 0 auto 1rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    width: 10rem;
    height: 10rem;
    box-shadow: 0px 10px 12px black;
    margin: 0.3rem;
    border-radius: 0.5rem;
}

.box > p {
    position: relative;
    top: 22%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.7rem;
    filter: drop-shadow(0 0 0.5rem black);
}

#logo {
    width: 50vw;
}

button {
    font-family: inherit;
    font-size: 2rem;
    color: #30D1BC;
    width: 60%;
    max-width: 400px;
    height: 5rem;
    background-color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 0.3rem;
    box-shadow: 0px 10px 12px black;
}

#reset {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 20%;
    max-width: 100px;
    font-size: 1rem;
    height: 3rem;
}

@media(max-width: 400px) {    
    #logo {
        width: 90%;
    }
}
